//not finished
.StudentAssignments {

  .background{
    background-color: #F1F1F1;
    margin: 0 auto;
    width: 90%;
    height: 45em;

    .Text{
        width: 90%;
        margin: 0 auto;
        padding: 0.5em 0 0 0.4em;
      }

  }
  .essayImage{
    width: 25%;
    height: 25%;
  }

  .essayPDF{
    height: 25em;
    border: '1px solid rgba(0, 0, 0, 0.3)',    
  }
}