.Assignments {

    .background{
      background-color: #F1F1F1;
      margin: 0 auto;
      width: 90%;
      height: 45em;
  
      .Text{
          width: 90%;
          margin: 0 auto;
          padding: 0.5em 0 0 0.4em;
        }

      .background-title{
        background-color: #634C4C;
        height: 3em;
        padding: 0.5em 0 0 0.4em;
      }
  
    }
  }