.Classrooms {
  .classrooms-background {
    background-color: #B7B4B4;

    margin: 0 auto;

    width: 65em;
    height: 40em;

    .classes-background {
      background-color: #634C4C;

      height: 3em;

      .classes-text {
        font-size: 20px;

        padding: 0.5em 0 0 0.4em;
      }
    }

    .classroom-titles {
      list-style-type: none;
      width: 60%;
      margin: 0 auto;

      .classroom-btn {
        background-color: #8B8181;

        font-size: 30px;

        margin: 2em 0 0 0;

        width: 20em;
        height: 5em;
      }
    }
  }
}